In [ ]:
import pandas as pd

In [ ]:
#dataframe is a 2D array contaning row and column

In [2]:
df = pd.read_csv('data/survey_results_public.csv')

In [3]:
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column' )

In [4]:
#df.shape prints out the dimesion of the dataframe (row, col)

In [5]:
#df.info() prints out the info of columns and rows and the columns' data types

In [6]:
pd.set_option('display.max_columns', 85) #tweaks the option of max columns being printed out

In [7]:
pd.set_option('display.max_rows', 85) #tweaks the option of max columns being printed out

In [8]:
#df.head(x) prints the first x row, default is 5

In [9]:
#df.tail(x) prints the last x row, default is 5

In [42]:
people = {
    "first" : ["Christopher", "Cherryl", "Mei", "Finn", "Iurii", "Eric", "Isidor"],
    "last"  : ["Kusmana", "Soputan", "Imaizumi", "Hansen", "Onopko", "Cao", "Manning"],
    "age"   : [19, 18, 22, 22, 18, 18, 19],
    "gender" : ["M", "F", "F", "M", "M", "M", "M"]
} # Creates dictionary of people

In [43]:
people_df = pd.DataFrame(people) # Create a tabular dataframe given a dictionary

In [12]:
# COLUMN ACCESS (bracket notations and parameters)

#people_df[x][y] access specific key of a dictionary given x and y; 
#but it can also print out a whol column if y is not specified for instance people_df['age'] prints out the age column

# Dot notation is also possible: people_df.first but bracket is more conventional

# To access multiple columns, pass in x as a list of keys; people_df[['first', 'last']]

# To access the columns keys, use people_df.columns respectively as a built in dataframe method

# ROW ACCESS (iloc and loc)

# To access dataframe by row, use iloc[] (index locator); people_df.iloc[x]

# To access multiple row, pass in a list for the accessor x in iloc[x]; people_df.iloc[[0,2]] prints out row 1 and 3 of the table

# You can access a second parameter for iloc to index specific column(s), can also be passed as a list

# Just like iloc, loc works the same but only differs in the second parameter, it takes the key (label) of the column instead of index; people_df.loc[[2,4], ['last', 'age']] 

# You can use list slicing to grab row/columns index i to j; people_df.loc[0:2, 'first' : 'age'] 

# First param in the loc is the row that you want and the second param is the column that you want

In [13]:
# value_counts() is a method that counts the frequency of values/responses in given column; people_df['age'].value_counts()

In [14]:
# INDICES / INDEX

# set_index(i) function remaps the index to the given parameter (as an instance not reference if inplace is not specified); people_df.set_index('last', inplace=True) permanently remaps the index to last names
# reset_index(inplace=True) modifies the index to default 
# Setting index to a unique identifier (like email) allows better use of loc. Instead of using index, we can use the specific value of the key that corresponds to the row as its identifier; people_df.loc['Soputan'] will locate Cherryl's row
# During df initialization and data read, the index can be modified to a specified column using index_col; df = pd.read_csv('data.csv', index_col='EmployeeID')
# sort_index(inplace=True) sorts the index alphabetically
# inplace=True makes the change permanent

In [15]:
# FILTERS
# == will output a boolean table depending on whether or not each row meets the given criteria; people_df['age'] == 18 will give True for the row with age = 18 and False otherwise
# Assigning filter to a variable and passing it in a bracket notation to dataframe will fetch all the rows that meets the filter's criteria:
# min_age_filt = (people_df['age'] == 18); people_df[min_age_filt] filters age 18
# filter can also be passed to loc; people_df.loc[min_age_filt, 'first'] grabs a specific column (first) given the filter
# in pandas conditional synatx, & is and | is or; filt = (df['age'] >= 18) & (df['first'][0] == 'c') 

#Example of filter
#filt = ((people_df['age'] >= 18) & (people_df['gender'] == 'F')) | ((people_df['age'] > 18) & (people_df['gender'] == 'M')) # A compounded conditional filter example
# ~ is a negation that fetches the complement of the result of the filter (everything else that doesn't match the filter)
# use .str to convert things into string from dataframe type

# EXAMPLE APPLICATION
# salary_filt = (df['ConvertedComp'] ? 100000) & (df['Country'] == 'Indonesia')
# df.loc[salary_filt, 'Country'].value_counts()
# The snippet code above filters the amount of Indonesians software engineer who is compensated above 100,000 USD

In [ ]:
# UPDATING DATA

# Column names can be changed by direct assignment: df.columns = df.columns.str.replace('_', ' ') replaces _ to space for every single column name
# .rename allows renaming individual columns: df.rename(columns={'first' : 'firstname', 'last' : 'last_name'}, inplace=True)
# To replace data in a row, simply select the target row and column then use assignment operator : people_df.loc[0, ['firstname', 'lastname']] = ['John', 'Doe']. Can also pass a list to change the value of row but just select the row
# apply allows passing of function to dataframe; people_df['first'].apply(len) checks length of first name in each row
# applymap applies the function to individual values in the dataframe: people_df.applymap(len) calculates the length of every single row-column combination in the dataframe
# replace({}) allows mapping of value: people_df['last'] = people_df['last'].replace({'Finn' : 'Iurii', 'Iurii' : 'Finn'})

In [87]:
# DELETING AND ADDING
# Creating a new column can be achieved by simply assigning columns which does not exist yet; people_df['fullname'] = people_df['first'] + ' ' + people_df['last'] creates a column called fullname that combines first and ast
# .drop(columns=[x]) drops the column(s) x in a dataframe; people_df.drop(columns=[['fullname', 'gender']], inplace=True) drops the fullname and gender column
# To split a column into 2 different columns: people_df[['first', 'last']] = people_df['fullname'].str.split(' ', expand=True)
# ._append allows insertion of a row; people_df = people_df._append({'first' : 'Keilani'}, ignore_index=True)
# ._append also can append dataframe given sort parameter; people_df = people_df._append(people_df2, ignore_index=True, sort=False)
# Dropping rows also uses .drop but with index as its parameter; people_df.drop(index=1, inplace=True) drops the second row
# Dropping rows can also be combined with filter and conditionals; people_df.drop(index=people_df[people_df['first'].str[0] == 'C'].index, inplace=True)
# .concat() allows the creation of new dataframe by concatenating 2 different series; people_df_concat = pd.concat([df1, df2], axis='columns', sort=False) --> Concatenates by column

In [86]:
# SORTING
# sort_values(by=x) sorts the row according to x; people_df.sort_values(by=['last', 'first'], ascending=[False, False], inplace=True) sorts the row by last and then first name in descending alphabetical order
# sort_index() sorts the dataframe rows by its indices
# Series can also be sorted with methods above
# nlargest(x, y) fetches the x largest value rows in the column y

In [129]:
# GROUPING AND AGGREGATING
# .mean(), .median(), and .mode() finds the mean, median, and mode of the series respectively; people_df['age'].median()
# .describe() gives descriptive statistic for the entire dataframe, can also be ran on a series; df.describe()
# .count() shows how many people responds while value_count() gives the frequency of each unique response. The parameter normalize in value_counts() will give percentage; df['SocialMedia'].value_counts(normalize=True)
# .groupby() allows grouping of dataframe by certain columns. It will return a pandas GroupByDataFrame object; country_grp = df.groupby(['Country'])
# .get_group() can be used for GBDF object to get a grouped dataframe based off the given condition; country_grp.get_group('United States')
# .agg() function will give a dataframe given the list of function passed in; country_grp['ConvertedComp'].agg(['mean', 'median'])

In [135]:
# CLEANING DATA
# .dropna(axis='index', how='any') will drop row if it has missing value if axis is sets to index and will drop column if it has missing value (either how=any or how=all) if axis is sets to column
    # subset parameter allows more specific rows drop given specific column(s); people_df.dropna(axis='index', how='any', subset=['email'. 'last'], inplace=True) drops all rows without last or email, changing it to how=all will drop if both are N/A
# Custom "missing" value can be replaced with pd.nan; df.replace('NA', pd.nan, inplace=True)
# .isna() is a function that creates a dataframe mapping that shows which rows and columns are of NA value
# .fillna(x) fills the NA values with x
# .dtypes will show all the datatypes in datafrae
# .astype(float/int) converts string to integer/float; df['age'] = df['age'].astype(float/int)
# .unique() gives a list of unique values in given column; df['YearsCode'].unique()

In [137]:
# READING AND WRITING DATA 

# CSV AND TSV

# .to_csv('savepath/data.csv') saves the dataframe to csv file
# .to_csv('savepath/data.tsv', sep='\t' saves the dataframe as a tab seperated value

# EXCEL

# install xlwt, openpyxl, and xlrd packages and do .to_excel('data/data.xlsx') to convert to excel
# .read_excel('excel.xlsx') creates a dataframe based on excel file format

#JSON

# .to_json('data.json') saves data as json
# .read_json('data.json') creates a dataframe based on json file format

#SQL 

# install SQLAlchemy and psycopg2-binary to do SQL read and write
# from sqlalchemy import create_engine; import pyscopg2
# Create database connection: engine = create_engine('postgresql://dbuser:dbpass@localhost:5432/sample_db') creates a database called sample_db
# .to_sql('sample_table', engine, if_exists=replace); to_sql is a function that creates a new table in sql given table's name and database engine connection
# pd.read_sql(tablename, engine) creates a dataframe based off given SQL parameter. Can also use SQL Queries in the place of tablename

# Datas can also be loaded from URLs